body,
footer {
  background-color: var(--weui-BG-1);
}

footer {
  margin-top: 2rem;
}

main {
  margin-top: 0.5rem;
}

header a,
header a:visited,
header a:hover {
  color: var(--weui-LINK);
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  color: var(--weui-FG-0);
}

.site_header {
  padding: 40px;
}

.site_header .site__title {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.site_header .site__desc {
  margin-top: 4px;
  color: var(--weui-FG-1);
  text-align: left;
  font-size: 14px;
}

.site_header a:visited {
  color: inherit;
}

.pagination .weui-btn {
  margin-top: auto !important;
}

.inner-container {
  margin: 8px 0;
  background-color: var(--weui-BG-2);
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
}

.terms .tag {
  background-color: var(--weui-BG-2);
}

.content {
  padding: 1rem;
}

.content hr {
  margin: 0.5em auto;
}

.content ul,
.content ol {
  margin-left: 1.5em;
}

.content pre {
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
}

.content pre code {
  background-color: var(--weui-BG-3);
}

.content pre,
.content code,
.content kbd,
.content samp {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  line-height: 18px;
}

.article-list h4 a,
.article-list h4 a:visited,
.article-list h4 a:active {
  color: var(--weui-FG-0);
}

.article-list h4 a:hover {
  color: var(--weui-LINK);
}

.pagination .weui-cell__bd {
  font-weight: 400;
}

.terms .tag a {
  color: var(--weui-FG-1);
}

.terms .tag a:hover {
  color: var(--weui-TAG-TEXT-BLUE);
}
.terms .tag a .weui-badge {
  background-color: var(--weui-FG-3);
  color: var(--weui-TAG-TEXT-BLACK);
}
