.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  color: var(--weui-FG-0);
}

.site_header {
  padding: 40px;
}

.site_header .site__title {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.site_header .site__desc {
  margin-top: 4px;
  color: var(--weui-FG-1);
  text-align: left;
  font-size: 14px;
}
