<header>
  <div class="site_header">
    <h1 class="site__title"><a href="{{ site.BaseURL }}">{{ site.Title }}</a></h1>
    {{ with site.Params.Description }}
      <p class="site__desc">{{ . }}</p>
    {{ end }}
  </div>
  <div class="weui-tab">
    <div class="weui-navbar">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ $active := eq $.RelPermalink (.URL | relLangURL) }}
        {{ $active = or $active (eq $.Section (lower .Name)) }}
        <div class="weui-navbar__item {{ if $active }} weui-bar__item_on{{ end }}">
          <a href="{{ .URL | relURL }}" title="{{ or .Title .Name }}">{{ .Name }}</a>
        </div>
      {{ end }}
    </div>
    <div class="weui-tab__panel"></div>
  </div>
</header>
