<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <div class="contanier">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">404 Not Found</h2>
                <p class="weui-msg__desc"></p>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="{{ "/" | relURL }}" class="weui-btn weui-btn_default">Back to Home</a>
                </p>
            </div>
        </div>
        {{ partial "footer.html" . }}
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>

