{{ define "main" }}
<div class="article-list weui-flex">
<div class="weui-panel">
  <div class="weui-panel__hd"></div>
  <div class="weui-panel__bd">
    {{ $paginator := .Paginate site.RegularPages }}
    {{ range $paginator.Pages }}
      <div class="weui-media-box weui-media-box_text weui-flex__item weui-article">
          <h4 class="weui-media-box__title"><a href="{{ .Permalink}}" title="{{ .LinkTitle }}">{{ .Title }}</a></h4>
          <p class="weui-media-box__desc">{{ .Summary | safeHTML }}</p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">{{ .Date.Format "January 2, 2006" }}</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ .Section }}</li>
        </ul>
      </div>
    {{ end }}
  </div>
  <div class="weui-panel__ft">
    <div class="weui-flex pagination">
      {{ if and (gt $paginator.TotalPages 1) ($paginator.HasPrev) }}
      <a class="weui-flex__item weui-btn weui-btn_default" href="{{ $paginator.Prev.URL }}">
        <div class="weui-cell__bd">Back</div>
        <span class="weui-cell__ft"></span>
      </a>
      {{ end }}
      {{ if and (gt $paginator.TotalPages 1) ($paginator.HasNext) }}
      <a class="weui-flex__item weui-btn weui-btn_default" href="{{ $paginator.Next.URL }}">
        <div class="weui-cell__bd">More</div>
        <span class="weui-cell__ft"></span>
      </a>
      {{ end }}
    </div>
  </div>
</div>
</div>

{{ end }}